<body>        
  <div class="container container-table">  
      <div class="row vertical-center-row">
        <div class="image">
          <img  src="../../assets/OZ_logo.png"/>
        </div>
        
                <span class="loginText">Login</span>
                <div class="alert alert-danger" role="alert"  *ngIf="f.submitted && isSuccessful"> Email or password is incorect! If you dont have an account, please create one.</div>
                <form (ngSubmit)="f.form.valid && login()" #f="ngForm">
                  
                    <input type="text" class="form-control" required placeholder="Email address" id="loginInput" name="email" [(ngModel)]="user.email"  #email="ngModel"/>
                    <input type="text" class="form-control" type="password" required placeholder="Password" id="loginInput" name="password"  [(ngModel)]="user.password" #password="ngModel" />    
                    <button class="loginButton" data-toggle="modal" data-target="#myModal"><span class="loginButtonText">Login</span></button>
                  
            </form>
            <div>
              <button class="loginButton" onclick="location.href='register';" ><span class="loginButtonText">Create account</span></button>
            </div>
            

          </div>
        </div>
</body>