<!DOCTYPE html>
<html lang="en">
  <head>
    ...
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav>
      <a href="#">Home</a>
      <div class="navbar-nav mr-auto">
        <li>
          <a routerLink="login" class="nav-link">Login</a>
        </li>
        <li>
          <a routerLink="register" class="nav-link">Register</a>
        </li>
      </div>
    </nav>
    
    <div>
      <router-outlet></router-outlet>
    </div>
  </body>
</html>



