<nav class="navbar navbar-expand-lg navSize">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <span class="navbar-brand navTitle">U-centrix Web Test appliication</span>
    </div>
    <div><img class="image" src="../../assets/OZ_logo.png"/><img class="logOut" (click)="logout.logout()" src="../../assets/log_out_small.png"/></div>    
</nav>
<body>
  <div class="container ">
    <div class="row profile">
      <div class="col-1">
        <img src="../../assets/user_profile.png">
      </div>
      <div class="col-9 profileName">
        <h1 class="">{{data.username}}</h1>
        <span><b>{{data.blogCount}}</b> blog post <b>0</b> follower <b>0</b> following</span>
      </div>
      <div class="col-1">
        <button class="editButton" onclick="location.href='editUser';">Edit profile</button>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="card blogs" *ngFor="let blog of data.blogs" >
        <a href="editBlog/{{blog.id}}" ><div class="card-body" >
          <h5 class="card-title blogsTitle">{{blog.title}}</h5>
          <p class="card-text blogsContent">{{blog.content}}</p>
        </div>
      </a>
    </div>
    <div class="card blogs"  >
      <a href="createBlog" ><div class="card-body" >
        <h5 class="card-title newBlog">Star new blog... <br><br><span>Click here</span></h5>
      </div>
    </a>
  </div>
  <div>
    </div>
    </div>
  </div>
</body>