<nav class="navbar navbar-expand-lg navSize">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <span class="navbar-brand navTitle">U-centrix Web Test appliication</span>
  </div>
  <div><img class="image" src="../../assets/OZ_logo.png"/><img class="logOut" (click)="logout.logout()" src="../../assets/log_out_small.png"/></div>    
</nav>
<body>
  <div class="container container-table">  
    <div class="row vertical-center-row"> 
                <h1>Create blog</h1>
                <br />
                <form id="form"  #f="ngForm">
                <div class="editTitle">
                    <input type="text" class="form-control" required placeholder="Title" id="title" name="title" [(ngModel)]="blog.title"  #title="ngModel"/>
                </div>

                <div class="editContent">
                    <textarea rows="5" class="form-control" type="text area" required placeholder="Content" id="content" name="content"  [(ngModel)]="blog.content" #content="ngModel"></textarea>
                </div>
           
                <div>
                    <button (click)="createBlog()" class="saveButton">Save blog</button>
                  </div>
                  <div class="form-group">
                  </div>
            </form>
        </div>
      </div>
</body>